@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 100px;
  --turquoise: #4cbfa6;
  --softLilac: #f6ebf4;
  --purple: #482673;
  --orchid: #ed0b70;
  --digiDenim: #301008;
  --gray: #25343F;
}

/* to check if css is connected */

li,
a {
  font-family: "Monserrat", sans-serif;
  font-style: bold;
  font-weight: 900;
  font-size: 20px;
  color:var(--gray);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: white;
  height: 100px;
}



.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: var(--orchid);
}

.main-page-banner {
  display: flex;
  margin-top: 80px;
}

.left-colum,
.right-column {
  flex-basis: 50%;
}

.right-column img {
  max-width: 100%;
  height: auto;
}

.left-column h1 {
  margin-left: 15%;
  font-size: 100px;
  padding: 15px;
  background: -webkit-linear-gradient(45deg, var(--orchid), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#gradient-button {
  margin-top: 20px;
  width: 200px;
  margin-left: 16%;
  padding: 15px;
  font-family: "Monserrat", sans-serif;
  font-style: bold;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, var(--orchid), var(--purple));
  font-size: 30px;
  color: rgb(255, 255, 255);
  border-style: none;
  border-radius: 15px;
}

.left-column h4 {
  font-size: 40px;
  margin-left: 15%;
  padding: 15px;
  color: #25343f;
}

.footer {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 50px;
}

.footer p {
  padding: 10px;
}
.footer img {
  margin-left: 70px;
  width: 15%;
}

/* Expert card */

.expert-card {
  width: 620px;
  height: 330px;
  background-color: #fcfcfc;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
}

.expert-card:hover {
  background-color: lightblue;
  border-style: solid;
  border-width: 3px;
  border-color: var(--turquoise);
  cursor: pointer;

}

.expert-left-container,
.expert-right-container {
  flex-basis: 50%;
}

/* Search page  */

.profile-picture {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  object-fit: cover;
}

.expert-left-container {
  text-align: center;
  padding-top: 70px;
}



.expert-left-container p {
  padding-top: 75px;
  color: #828282;
}

.expert-right-container {
  padding-top: 75px;
}

.expert-right-container h1 {
  color: var(--orchid);
  padding-bottom: 30px;
}

.expert-right-container h3 {
  color: #595959;
  font-weight: 500;
  padding-bottom: 15px;
  color: #828282;
}

.expert-right-container p {
  color: black;
}

.search-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-page-container .expert-card {
  margin-top: 50px;
}

/* Profile page */

.profile-page-card{
  display: flex;
  
  
}

.profile-page-card > .left-container {
  padding-top: 50px;
  border-radius: 15px;
  width: 500px;
  height: 700px;
  background-color: #fcfcfc;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}

.profile-page-card h1{
  padding: 20px;
  text-align: left;
  font-size: 45px;
  padding-top: 50px;
  font-weight: bolder;
  color: var(--gray);
  
}


.profile-page-card span{
  margin-top: 15px;
  text-align: left;
}

.profile-page-card h2{
  padding-left: 20px;
  margin-top: 20px;
  text-align: left;
  color: black;
}


.profile-page-card p{
  padding-top: 50px;
  font-weight: lighter;
  color: var(--gray);
}


.profile-page-card > .right-container {
  padding: 20px;
  padding-top: 50px;
  border-radius: 15px;
  width: 800px;
  height:fit-content;
  background-color: #fcfcfc;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  margin-left: 40px;
}

.description{
  background-color: var(--turquoise);
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 3px;
  margin-top: 20px;
  border-radius: 15px;
}


.services{
  background-color: var(--turquoise);
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 0px;
  margin-top: 20px;
  border-radius: 15px;

}

.services p{
  margin:0;
  padding: 5px;
}

.service {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 25px;
  padding: 10px;
}

.review-container{
  max-height: fit-content;
  display: flex;
  background-color: var(--turquoise);
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 3px;
  margin-top: 20px;
  border-radius: 15px;

}

.review-container img{

  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  object-fit: cover;
}

.review-message{
  margin-left: 20px;
  max-width: 400px
  
  
}

.review-message > p{
 padding-top: 10px;
 font-weight: normal;
 color:black;
}

.review-timestamp{
  text-align: end;
  width: 150px;
}


.references-container{
  background-color: var(--turquoise);
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
}

.reference{
  text-align: center;
  height: 260px;
  width: 200px;
  background-color: white;
  margin: 15px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-color: var(--gray);
  border-style: solid;
  border-width: 2px;
}

.reference p{
  margin-top: 15px;
  padding: 0px;
}



.reference-picture{
  margin-top: 20px;
 height: 150px;

}


.profession-tag{
  align-content: space-between;
  display: flex;
  margin-top: 20px;
  text-align: center;
  width: 150px;
  height: 40;
  border-style: solid;
  border-color: var(--turquoise);
  border-radius: 3px;
  
}

.expert-left-container > .profession-tag {
  margin-left: 20px;
}

.profession-tag:hover {
  background-color: var(--softLilac);
  cursor: pointer;
}

.profession-tag h4{
  color: #4cbfa6;
  vertical-align: center;
}

.suitcase-icon{
  color: var(--turquoise);
}



#pageTitle {
  font-size: 100px;
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: var(--header-height);
  background-color: var(--turquoise);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
}

.content-container {
  display: flex;
  height: fit-content;
  margin-top: var(--header-height);
}

.searchBar {
  padding: 10px;
  background-color: var(--softLilac);
  margin: 10px;
  width: fit-content;
  height: fit-content;
}

#navBarFunctionalContentContainer {
  height: 80%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#navBarFunctionalContent {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.baseButton {
  background-color: var(--digiDenim);
  padding: 5px;
  border-radius: 10px;
}

.stars {
  text-align: right;
}


