* {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 300px;
}

/* to check if css is connected */
h1 {
  color: red;
}

#header {
  height: var(--header-height);
  background-color: blue;
  position: fixed;
}

#content-container {
  height: 2000px;
  background-color: aqua;
  padding-top: var(--header-height);
}
