* {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 400px;
}

/* to check if css is connected */
h1 {
  color: red;
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: var(--header-height);
  background-color: blue;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
}

#contentContainer {
  height: 2000px;
  background-color: aqua;
  margin-top: var(--header-height);
}

.searchBar {
  padding: 10px;
  background-color: beige;
  margin: 10px;
  width: fit-content;
  height: fit-content;
}

.navBarFunctionalContent {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
